/* src/components/Header.css */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222d0;
  z-index: 1000;
  /* Ensure the header is above other content */

}

.logo img {
  height: 64px;
  width: auto;
  margin: 20px 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 80px;
}

.nav-button {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #3d3d3d;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  border-radius: 24px;
}

.header a:link
{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: rgb(231, 231, 231);
}

.header a:visited
{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: rgb(233, 233, 233);
}

.nav-button:hover {
  color: rgb(112, 112, 112);
}

.nav-button.active {
  text-decoration: underline;
  color: #383838; /* Just an example, choose any color you prefer */
}




@media screen and (max-width: 768px) {

  .nav-links {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }

  .logo img {
    height: 64px;
    width: auto;
    margin: 20px;
  }

  .header {
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }

}