.hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
  }

  .fallback-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .video-background {
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .video-background.loaded {
    opacity: 1;
  }
  
  .video-element {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none; /* Prevent user interactions with the video */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 2;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 32px;
  }

  .content {
    padding: 80px;
  }