.previous-project {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 20px;


    background-color: rgb(161, 38, 38);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: scale(1);
    transition: transform 0.5s;
}

.previous-project:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.previous-project h2 {
    font-size: 20px;
}

.previous-project-header {
    margin: 60px 40px;
    position: relative;
    text-align: left;
    z-index: 100;
    width: 80%;
}

.map-container {
    width: 256px;
    height: 256px;
    
}





.previous-project-overlay {
    
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 224, 224, 0.795);
    z-index: 50;
    opacity: 1;
    transition: opacity 0.5s;
    border-radius: 20px;
}

.previous-project-overlay:hover {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .previous-project {
        width: 60vw;
        height: 60vw;
        margin: 20px 0px;
    }

    .previous-project-header {
        margin: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .previous-project-overlay {
        display: block;
    }

}