.team-member
{
    display: inline-block;
    width: 350px;
    margin: 36px 36px;
}

.team-member img
{
    margin: 0px;
    width: 100%;
    height: auto;
}

.team-member-info
{
    background-color: rgb(221, 221, 221);
    position: relative;
    top: -32px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 1px 24px;
}