.map-container
{
width: 500px;
height: 500px;
}

.previous-projects-container
{
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
    text-wrap: nowrap;
    overflow-x: scroll;
}
.previous-projects-scroll {
    overflow-x: auto;
    padding: 20px; /* optional for spacing */
}

.previous-projects-overlay {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none; /* Allows interaction with elements behind the overlay */
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,229,227,0) 4%, rgba(229,229,227,0) 96%, rgba(255,255,255,1) 100%);
}